{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>您的账号、密码不匹配，请重试。</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>您无权访问此页面。</p>
  {% else %}
    <p>请先登录，不然无法继续。</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'quiz:login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="登录">
  <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}