{# Based on https://tailwindui.com/components/application-ui/application-shells/stacked #}
{% load static %}
{% load current_page %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="北京理工大学国防知识竞赛">
    <meta name="author" content="国防教育协会等">
    <meta name="keywords" content="北京理工大学,竞赛,军训,国防知识">
    <title>{% current_page_title %} - 国防知识竞赛</title>
    <script type='module' src="{% static 'js/dist/toggle_mobile_menu.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% tailwind_css %}
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <!-- Desktop header -->
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <!-- Left nav -->
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img class="h-8 w-8" src="{% static 'img/bit-icon.svg' %}" alt="北京理工大学">
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  {% for key, page in constants.ROUTES.items %}
                    {# 若应显示 #}
                    {% if not page.login_required or user.is_authenticated %}
                      {% with current_url=request.path_info|urlencode %}
                        {% url key as url %}
                        {% if not page.reluctant or url == current_url %}
                          <a class="{% if url == current_url %}
                                      bg-gray-900 text-white
                                    {% else %}
                                      text-gray-300 hover:bg-gray-700 hover:text-white
                                    {% endif %}
                                    rounded-md px-3 py-2 text-sm font-medium"
                             {% if url == current_url %}aria-current="page"{% endif %}
                             href="{{ url }}">{{ page.title }}</a>
                        {% endif %}
                      {% endwith %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- Right profile -->
            <div class="hidden md:block">
              <div class="ml-4 flex items-baseline space-x-4">
                {% if user.is_authenticated %}
                  <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                     href="{% url 'logout' %}">登出</a>
                  <div class="px-3 text-base font-medium text-white">{{ user }}</div>
                {% else %}
                  <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                     href="{% url 'login' %}">登录</a>
                {% endif %}
              </div>
            </div>
            <!-- Mobile menu button -->
            <div class="-mr-2 flex md:hidden">
              <button type="button"
                      id="toggle-mobile-menu"
                      class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                      aria-controls="mobile-menu"
                      aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">打开主菜单</span>
                <!-- Show if menu is closed -->
                <svg class="h-6 w-6"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!-- Show if menu is open -->
                <svg class="hidden h-6 w-6"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="md:hidden hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            {% for key, page in constants.ROUTES.items %}
              {# 若应显示 #}
              {% if not page.login_required or user.is_authenticated %}
                {% with current_url=request.path_info|urlencode %}
                  {% url key as url %}
                  {% if not page.reluctant or url == current_url %}
                    <a class="{% if url == current_url %}
                                bg-gray-900 text-white
                              {% else %}
                                text-gray-300 hover:bg-gray-700 hover:text-white
                              {% endif %}
                              block rounded-md px-3 py-2 text-base font-medium"
                       {% if url == current_url %}aria-current="page"{% endif %}
                       href="{{ url }}">{{ page.title }}</a>
                  {% endif %}
                {% endwith %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="border-t border-gray-700 pb-3 pt-4 px-2 sm:px-3">
            {% if user.is_authenticated %}
              <div class="px-3 text-base font-medium text-white">{{ user }}</div>
              <a class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                 href="{% url 'logout' %}">登出</a>
            {% else %}
              <a class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                 href="{% url 'login' %}">登录</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% block header %}
        <header class="bg-white shadow">
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">{% current_page_title %}</h1>
          </div>
        </header>
      {% endblock header %}
      {% block main %}
        <main>
          <div class="mx-auto max-w-2xl py-6 sm:px-6 lg:px-8">
            {% block content %}
            {% endblock content %}
          </div>
        </main>
      {% endblock main %}
      <!-- Footer -->
      <footer class="mt-4 pt-2 bg-white shadow-inner">
        <div class="flex gap-2 justify-center p-2">
          <img src="{% static 'img/bit-icon.svg' %}" alt="" class="h-8">
          <img src="{% static 'img/bit-text.svg' %}" alt="北京理工大学" class="h-8">
          <img src="{% static 'img/defense.png' %}" alt="国防教育协会" class="h-8 ml-4">
        </div>
        <p class="text-center text-gray-500">北京理工大学国防教育协会 © {{ constants.YEAR }}</p>
        <p class="text-center text-gray-500 prose-a:underline">
          Powered by <a href="https://www.bitnp.net/" target="_blank">Net Pioneer Association</a> of BIT. Designed by Lytning et al.
        </p>
      </footer>
    </div>
  </body>
</html>
