{% extends "base.html" %}
{% load my_humanize %}
{% block scripts %}
  {% load static %}
  <script type='module' src="{% static 'js/dist/contest.js' %}"></script>
  {# 数据 #}
  {% url 'quiz:contest_update' as update_url %}
  {{ update_url | json_script:"data:update-url" }}
  {{ draft_response.deadline | json_script:"data:deadline" }}
  {{ constants.DEADLINE_DURATION.seconds | json_script:"data:deadline-duration" }}
{% endblock scripts %}
{% block main %}
  {# 宽度超过 7xl / 80rem / 1280px 后，aside 与 header 右对齐 #}
  <main class="mx-auto max-w-7xl w-full bg-img-contest bg-fixed bg-center">
    {# 进度 #}
    <aside class="sticky top-0 md:top-4 mt-4 md:mr-4 min-[1280px]:mr-0 md:ml-auto md:w-80 p-2 bg-white shadow">
      <div class="grid grid-cols-[auto_1fr] mx-auto max-w-md items-center">
        <div>
          时间：还剩<span id="time-progress-text">{{ constants.DEADLINE_DURATION | natural_delta }}</span>
        </div>
        <div class="ml-4 h-2 flex flex-auto rounded-full bg-gray-100"
             aria-hidden="true">
          <div id="time-progress-bar"
               class="h-2 w-0 flex-none rounded-l-full rounded-r-[1px] bg-indigo-600"></div>
          <div class="-my-[0.3125rem] ml-0.5 h-[1.125rem] w-1 rounded-full bg-indigo-600"></div>
        </div>
        <div>
          作答：还剩<span id="contest-progress-text">{{ constants.n_questions_per_response_total }}</span>题
        </div>
        <div class="ml-4 h-2 flex flex-auto rounded-full bg-gray-100"
             aria-hidden="true">
          <div id="contest-progress-bar"
               class="h-2 w-0 flex-none rounded-l-full rounded-r-[1px] bg-green-600"></div>
          <div class="-my-[0.3125rem] ml-0.5 h-[1.125rem] w-1 rounded-full bg-green-600"></div>
        </div>
      </div>
    </aside>
    {# 题目 #}
    <article class="mx-auto max-w-2xl pb-6 prose">
      <form action="{% url 'quiz:contest_submit' %}" method="post">
        {% csrf_token %}
        {% for a in answer_set.all %}
          <fieldset class="my-4 p-4 sm:px-6 lg:px-8 bg-white shadow disabled:text-gray-400"
                    {% if draft_response.outdated %}disabled{% endif %}>
            <p class="text-lg my-0">
              <span class="enabled:text-gray-600">{{ forloop.counter }}.</span>
              <legend class="inline">
                <span class="font-bold">{{ a.question.content }}</span>
                <span class="enabled:text-gray-600">（{{ a.question.score | as_score }}分）</span>
              </legend>
            </p>
            {% for choice in a.question.choice_set.all %}
              <label class="block hover:bg-red-100 my-2">
                <input type="radio"
                       name="question-{{ a.question.id }}"
                       value="choice-{{ choice.id }}"
                       {% if a.choice.id == choice.id %}checked{% endif %}>
                {{ choice.content }}
              </label>
            {% endfor %}
          </fieldset>
        {% endfor %}
        <div class="text-center">
          <button type="submit"
                  class="text-lg text-red-700 font-bold px-4 py-2 bg-white shadow rounded-full hover:bg-gray-100">
            <!-- https://heroicons.com/ arrow-up-tray -->
            {# 图标上下不对称，不能按默认居中对齐，不然显得偏 #}
            <svg class="size-6 inline align-text-bottom"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="2"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>
            提交
          </button>
        </div>
      </form>
    </article>
  </main>
{% endblock main %}
