{% extends "base.html" %}
{% load my_humanize %}
{% load static %}
{% block scripts %}
  <script type='module' src="{% static 'js/dist/index_and_info.js' %}"></script>
  {{ status | json_script:"data:status" }}
{% endblock scripts %}
{% block heading %}
{% endblock heading %}
{% block main %}
  <main>
    {# Based on https://tailwindui.com/components/marketing/sections/cta-sections #}
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <div class="relative isolate overflow-hidden pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-24 lg:pl-24 lg:pt-0">
        {# Background gradient #}
        <svg viewBox="0 0 1024 1024"
             class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
             aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
          <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#FFDDDD" />
          <stop offset="1" stop-color="#FF0000" />
          </radialGradient>
          </defs>
        </svg>
        {# Left/top: Texts #}
        <div class="mx-auto max-w-md px-6 lg:mx-0 lg:flex-auto lg:py-16">
          {% comment %} <p class="text-lg leading-8 text-gray-600 text-center lg:text-left">欢迎各位新同学参与</p> {% endcomment %}
          <h1 class="text-3xl font-bold tracking-tight sm:text-4xl text-center lg:text-left">
            <span class="text-2xl sm:text-3xl">北京理工大学</span>
            <br>
            国防知识竞赛
          </h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            <strong>竞赛规则：</strong>系统随机抽取{{ constants.n_questions_per_response_total }}道题，限时{{ constants.DEADLINE_DURATION | natural_delta }}。每人限答{{ constants.MAX_TRIES }}次，取最高成绩为最终个人成绩。
          </p>
          <p class="text-lg leading-8 text-gray-600">
            <strong>注意事项：</strong>作答过程中注意<strong class="text-red-700">答题时间</strong>，请在单次答题时限交卷，否则答题时间截止系统将自动提交；<strong class="text-red-700">切勿同时打开多个答题页面</strong>，否则只有某一页面答卷有效，影响成绩计算。
          </p>
          <p class="text-lg leading-8 text-gray-600">预祝同学们答题顺利，取得好成绩！</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            {% if not user.is_authenticated or status == 'taking contest' or user.student and user.student.n_left_tries > 0 %}
              {# 不确定 or 正在答题 or 还能发卷 ⇒ 显示 #}
              <a href="{% url 'quiz:contest' %}"
                 id="url-quiz-contest"
                 class="text-lg px-4 py-2 bg-red-700 text-white shadow rounded-full hover:bg-red-500">
                <!-- https://heroicons.com/ arrow-left-on-rectangle -->
                <svg class="size-6 inline"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                </svg>
                {% if status == "taking contest" %}
                  继续上次答题
                {% else %}
                  {% if user.is_authenticated %}
                    前往答题
                  {% else %}
                    登录并前往答题
                  {% endif %}
                {% endif %}
              </a>
            {% else %}
              {# 未在答题 and 不能再发新卷 ⇒ 提示无机会 #}
              <p class="text-sm font-semibold leading-6">
                {% if user.student %}
                  您已答完全部{{ constants.MAX_TRIES }}次机会
                {% else %}
                  只有学生能答题
                {% endif %}
              </p>
            {% endif %}
            <a class="text-sm font-semibold leading-6 hover:text-gray-500"
               href="{% url 'quiz:info' %}">历史成绩 <span aria-hidden="true">→</span></a>
          </div>
        </div>
        {# Right/bottom: Image #}
        <div class="mt-8 sm:-mx-16 lg:mt-0 lg:h-auto">
          <img class="lg:h-full object-cover object-right"
               src="{% static 'img/home.jpg' %}"
               alt="国防"
               width="1824"
               height="1080">
        </div>
      </div>
    </div>
  </main>
{% endblock main %}
